a:hover {
    text-decoration: none;
    color: #e35f13;
    transition: color 0.4s;
    -moz-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
}

@-webkit-keyframes fromBottomFade {
    from {
        -webkit-transform: translateY(20%);
        opacity: 0;
    }
}

@keyframes fromBottomFade {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.main .container{
    background: url('../images/pc_bg.png') no-repeat top;
    background-size: 1280px,contain;
    /* width: 750px; */
    /* border: 1px solid red; */
    min-height: 100vh;
}
.container .detail{
    padding: 50px 50px;
    display: flex;
    height: 660px;
    overflow: hidden;
}
.container .left{
    flex: 1;
    overflow-y: scroll;
    /* 隐藏滚动条 */
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    border: 5px solid #12b7f5;
    background-color: #6a8b8f;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}
.container .left::-webkit-scrollbar,.container .right::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.container .left .list{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.container .left .list .title{
    flex: 1;
    color: #fff;
}
.container .left .list .pic{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.container .left .list .pic img{
    max-width: 100%;
}
.container .left .list .num{
    background-color: #e7324a;
    color: #fff;
    width: 75px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.container .right{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    /* 隐藏滚动条 */
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    border: 5px solid #12b7f5;
    background-color: #6a8b8f;
    border-radius: 20px;
    padding: 10px;
}
.container .right .list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container .right .list .title{
    color: #fff;
}
.container .right .pic{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.container .right .pic img{
    width: 40px;
    height: 40px;
}
